@media screen and (max-width: 767px) {
    nav .links {
        transition: height ease-in 0.2s;
        height: 0;
        overflow-y: hidden;
    }
    nav .links.active {
        height: 150px;
    }
    nav .links a {
        display: block;
    }    
}

@media screen and (min-width: 767px) {
    nav {
        display: flex;
        flex-direction: row;
        height: 70px;
        justify-content: space-between;
    }
    nav .links a {
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .section1 {
        height: 700px;
    }
    .section2 {
        display: flex;
        flex-direction: column;
    }
    .section2 a {
        height: 500px;
        width: 500px;
        margin-left: 100px;
    }
    .block1 {
        display: flex;
        flex-direction: row;
    }
    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(400px, auto);
        grid-gap: 0;
        background-color: rgb(201, 219, 200);
        font-size: 20px;
        line-height: 1.5;
        color:rgb(74, 97, 72);
    }
    .section3 div {
        padding: 50px;
    }
    .div_border {
        border-bottom: none;
    }
    .trys_divai {
        display: flex;
        flex-direction: row;
        padding-bottom: 0px;
    }
    .trys_divai div {
        padding: 10px;
        margin: 40px;
        height: 150px;
        width: 150px;
    }
    .section4 a {
        margin-top: 20px;
    }
    .section4 h1 {
        color: white;
        font-size: 50px;
    }
    nav .hamburger {
        display: none;
    }
    footer {
        font-size: 22px;
    }
    .directions {
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px) {
    nav {
      justify-content: flex-end;
    }
  
    nav img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }